/* .info{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
} */

header {
     background-color: #28662e;
     display: flex;
     flex-direction: row;
     align-items: center;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100px;
     border-bottom: 1px solid white
}

#logo {
     padding-left: 10px;
     height: 80px;
}

@font-face {
     font-family: "stil";
     src: url(/fonts/bauhaus-93.ttf);
}

#nazv {
     padding-left: 20px;
     font-size: 80px;
     font-family: "stil";
     color: White;
}

nav {
     text-align: right;
}
nav ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     display: flex;
}

nav ul li {
     margin: 0 15px;
}

 nav ul li a {
     color: white/*  rgb(224, 114, 35) */;
     text-decoration: none;
     padding: 5px 10px;
     font-size: 20px;
     font-weight: bold;
}
 
 nav ul li a:hover {
     background-color: white;
     border-radius: 5px;
     color: rgb(254, 108, 3);
 }

 #align-right {
     padding-left: 200px;
 }

 #ovt {
     padding-left: 250px;
 }

 .signup-button1 {
     background-color: rgb(224, 114, 35); /* Цвет кнопки "Войти" */
     color:white;
     margin-left: 10px;
 }

.signup-button2 {
     background-color: rgb(224, 114, 35); /* Цвет кнопки "Профиль" */
     color:white;
}

 #ovt button {
     /* color: white; */
     text-decoration: none;
     padding: 8px 15px;
     border: 2px solid transparent;
     border-radius: 5px;
     transition: background-color 0.3s, border-color 0.3s;
 }

 .signup-button1:hover {
     background-color: white;
     border-radius: 5px;
     color: rgb(254, 108, 3);
     font-weight: bold;
     margin-left: 8px;
 }
 .signup-button2:hover {
     background-color: white;
     border-radius: 5px;
     color: rgb(254, 108, 3);
     font-weight: bold;
     margin-left: -3px;
 }