#fon {
  background-image: url("/images/профиль.png");
  background-size: 100%;
  /* height: 750px; */
  background-repeat: no-repeat; /* предотвращает повтор изображения */
  background-size: cover; /* масштабирует изображение для заполнения фона */
  background-attachment: fixed; /* делает изображение статичным */
  background-position: center; /* центрирует изображение */
  padding-top: 50px;
  padding-bottom: 50px;
}

.pos-con {
  display: flex;
  justify-content: center; /* Центрирует элементы по горизонтали */
  align-items: center; /* Центрирует элементы по вертикали*/  
}

.profile-container {
  /* text-align: center; */ /* Центрирует текст внутри контейнера */
  padding: 20px; /* Внутренний отступ */
  border-radius: 8px; /* Закругление углов */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Небольшая тень */
  width: 400px;
  color: #28662e;
  background-color: rgb(255, 255, 255);
  border: 5px solid rgb(2, 254, 141);
  border-radius: 20px;
  /* font-family: 'main-t'; */
}
  
/* .profile-info p {
  margin: 10px 0;
  font-size: 16px;
}
  
.profile-info strong {
  color: #333;
} */
.pole {
  padding-top: 10px;
  padding-bottom: 15px;
  font-size: 20px;
}

.exit {
  background-color: #28662e; /* Цвет кнопки "Войти" */
  color:white;
  margin-left: 50px;
  border: 2px solid transparent;
  border-radius: 5px;
  margin-top: 20px;
  align-items: center;
  margin-left: 120px;
  font-size: 17px;
}

.exit:hover {
  background-color:  rgba(235, 133, 16);
  border-radius: 5px;
  /* border: 2px solid black; */
  color: white;
  font-weight: bold;
  margin-left: 117px;
}