<div id="fon">
    <div id="centr-text">
        <div id="conteiner1">
            <h1 class="maint">Добро пожаловать на нашу платформу!</h1>
            <p><span id="nazv">Turn</span> - это уникальная платформa для организации и управления турнирами по различным видеоиграм. 
            У нас есть все необходимые инструменты для создания незабываемых игровых событий.</p>
            
        </div>
    </div>
    <div class="raspolozh">
        <div id="left-text">
            <div id="conteiner2">
                <h2 class="maint">На нашем сайте вы можете:</h2>
                <ul>
                    <li><strong>Регистрироваться и создавать учетные записи:</strong> присоединяйтесь к нашему сообществу и становитесь частью динамичной игровой среды.</li>
                    <li><strong>Организовывать турниры:</strong> легко создавайте турниры, указывайте формат, правила и расписание.</li>
                    <li><strong>Отслеживать результаты:</strong> следите за ходом турниров, просматривайте результаты и рейтинги участников в реальном времени.</li>
                    <li><strong>Взаимодействовать с другими игроками:</strong> общайтесь с другими участниками, обменивайтесь стратегиями и находите единомышленников.</li>
                </ul>
                <p>Мы стремимся создать удобную и интуитивно понятную платформу, где каждый игрок сможет проявлять свои таланты, участвовать в соревнованиях и наслаждаться игровым процессом. Присоединяйтесь к нам, и давайте вместе делать каждый турнир ярким и запоминающимся!</p>
            </div>
        </div>
        <div class="button-container">
            <button *ngIf="auth()===true" routerLink="/tour" class="action-button">Создать свой турнир</button>
            <button *ngIf="auth()===true" routerLink="/teams" class="action-button">Создать свою команду</button>

            <button *ngIf="auth()===false" (click)="go_toAuth()" class="action-button">Создать свой турнир</button>
            <button *ngIf="auth()===false" (click)="go_toAuth()" class="action-button">Создать свою команду</button>
            
        </div>
    </div>
    
    
</div>
